.entete{
  position: fixed;
  background-color: white;
  z-index: 10;
}

#sommaire{
  position: fixed;
  left: 0;
  top: calc(30px + 2vh);
  width: 25vw;
  font-size: 2.6vh;
  text-align: center;
}

#sommaire p{
  text-indent: 0;
  line-height: 1.1;
  border-bottom: 1px solid mediumslateblue;
  padding: 2vw;
}

#sommaire p a{
  text-decoration: none;
  color: black;
}

#txt{
  position: absolute;
  top: 3vh;
  right: 0;
  width: 75vw;
  font-size: 90%;
  padding: 0 3vw 1vw 3vw;
  border-left: 1px solid mediumslateblue;
}

#txt h2{
  padding-top: 60px;
  line-height: 1;
  font-size: 170%;
}

#txt h3{
  margin-left: 0;
  margin-top: 25px;
  font-size: 130%;
}


#txt img{
  width: 100%;
  margin-bottom: 10px;
}

#txt .img-petite{
  width: 49%;
}

#txt iframe{
  width: 100%;
  margin: 20px 0 20px 0;
  padding: 0 !important;
}

ul{
  margin: 0 !important;
  padding: 0 !important;
}

li{
  margin-top: 10px;
  margin-bottom: 10px;
}

#bouton-haut-de-page{
  z-index: 1;
}

#txt a{
  text-decoration: underline;
}

#txt .exemple{
  margin-left: 6vw;
}

span{
  font-family: "Courier", monospace;
  font-size: 95%;
}
