@font-face {
  font-family: 'DINdong';
  src:url('DINdong.woff2') format('woff2');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'DINdong';
  background: yellow;
  position: relative;
  height: 100vh;
  width: 100vw;
  font-size: 2rem;
}

body {
  padding: 1rem;
  position: relative;
  height: 100%;
  width: 100%;
}

h1 {
  margin-bottom: 1px;
}

fieldset {
  position: relative;
  height: 75vh;
  width: 100%;
  border-radius: 10%;
  background: lightsalmon;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

fieldset div {
  height: 80%;
  width: 100%;
}

#filedrag {
  /* background: red; */
  height: 100%;
  width: 100%;
}

p {
  line-height: 1.2;
}

span {
  color: salmon;
}

a {
  color: salmon;
}

